<form class="form update-form" method="POST" action="{% url 'cart:cart_adjust' item.item_id %}">
    {% csrf_token %}
    <div class="form-group">
        <div class="input-group input-group-{{ item.item_id }}">
            <div class="input-group-prepend">
                <button class="decrement-qty btn btn-sm btn-black rounded-0 decrement-qty_{{ item.item_id }} 
                    {% if item.size %}decrement-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                    <span>
                        <i class="fas fa-minus fa-sm"></i>
                    </span>
                </button>
            </div>
            <input class="form-control form-control-sm qty_input id_qty_{{ item.item_id }} 
            {% if item.size %}size_{{ item.item_id }}_{{ item.size }}{% endif %}" type="number" name="quantity"
            value="{{ item.quantity }}" min="1" max="{{ item.stock }}" data-item_id="{{ item.item_id }}"
            data-size="{{ item.size }}" pattern="\d+">
            <div class="input-group-append">
                <button class="increment-qty btn btn-sm btn-black rounded-0 increment-qty_{{ item.item_id }} 
                    {% if item.size %}increment-size_{{ item.item_id }}_{{ item.size }}{% endif %}"
                    data-item_id="{{ item.item_id }}" data-size="{{ item.size }}">
                    <span>
                        <i class="fas fa-plus fa-sm"></i>
                    </span>
                </button>
            </div>
        </div>
        <p class="text-danger stock-error" style="display:none; font-size: 12px; text-align:center">Error: Quantity exceeds available stock.</p>
    </div>
</form>
<span class="d-md-none mobile-update-link btn p-0"><small><i class="fas fa-sync"></i></small></span>
<span class="d-md-none remove-link btn p-0 float-right" id="remove_{{ item.item_id }}"><small><i class="fas fa-trash-alt"></i></small></span>