{% extends 'base.html' %}
{% load static %}

{% block extra_title %}| homepage{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container-fluid home-background">
    <div class="row">
        <div class="col-12 col-md-6 d-flex align-items-center justify-content-center">
            <div>
                <h1 class="display-5 logo-font text-black mt-5">
                    Welcome to <br> ecabanas bookstore :)
                </h1>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products:book_list' %}"
                            class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Start browsing here</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-6">
            <img src="{% static 'img/background-store.png' %}" class="img-fluid" alt="Responsive image">
        </div>
    </div>
</div>
{% endblock %}
