{% extends "base.html" %}

{% load static %}

{% block extra_title %}| Favourites{% endblock %}

{% block content %}
<div class="container my-5 h-50">
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1 class="text-center mb-5">My Favourite Books</h1>
      <ul class="list-group">
        {% for favorite in favourites %}
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <a href="{% url 'products:book_detail' favorite.book.id %}">{{ favorite.book.title }}</a>
            <span class="badge rounded-pill"><a href="{% url 'products:remove_from_favorites' favorite.book.id %}"><i class="fas fa-times"></i></a></span>
          </li>
        {% empty %}
          <li class="list-group-item">You have no favourite books yet.</li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
{% endblock %}
