{% extends 'base.html' %} 
{% load static %} 
{% block content %}
<h1 class="text-left my-3">
  {% if search_term %}
    {% if books.paginator.count == 0 %}
      No books found for "{{ search_term }}"
    {% else %}
      Search results for "{{ search_term }}" ({{ books.paginator.count }})
    {% endif %}
  {% else %}
    {% if books.paginator.count > 0 %}
      {% if current_category_name %}
        {{ current_category_name|title }} ({{ current_category_count }})
      {% else %}
        Books List ({{ books.paginator.count }})
      {% endif %}
    {% else %}
      No books found
    {% endif %}
  {% endif %}
</h1>
{% if books.paginator.count > 1 %}
<!-- Sort buttons -->
<div class="book-sorting-buttons">
  <a
  href="{% url 'products:book_list' %}?sort=title&direction={% if sort == 'title' and direction == 'desc' %}asc{% else %}desc{% endif %}&category={{ category }}"
  class="btn btn-outline-secondary btn-sm mr-3 {% if sort == 'title' %}active{% endif %}"
  >Sort by title {% if sort == 'title' %}
    {% if direction == 'asc' %}
      <i class="fas fa-sort-alpha-up"></i>
    {% else %}
      <i class="fas fa-sort-alpha-down"></i>
    {% endif %}
  {% endif %}
  </a>
  <a
  href="{% url 'products:book_list' %}?sort=price&direction={% if sort == 'price' and direction == 'desc' %}asc{% else %}desc{% endif %}&category={{ category }}"
  class="btn btn-outline-secondary btn-sm mr-3 {% if sort == 'price' %}active{% endif %}"
  >Sort by price {% if sort == 'price' %}
    {% if direction == 'asc' %}
      <i class="fas fa-sort-amount-up"></i>
    {% else %}
      <i class="fas fa-sort-amount-down"></i>
    {% endif %}
  {% endif %}
  </a>
  <a
  href="{% url 'products:book_list' %}?sort=rating&direction={% if sort == 'rating' and direction == 'desc' %}asc{% else %}desc{% endif %}&category={{ category }}"
  class="btn btn-outline-secondary btn-sm {% if sort == 'rating' %}active{% endif %}"
  >Sort by rating {% if sort == 'rating' %}
    {% if direction == 'asc' %}
      <i class="fas fa-sort-numeric-up"></i>
    {% else %}
      <i class="fas fa-sort-numeric-down"></i>
    {% endif %}
  {% endif %}
  </a>
</div>
{% endif %}
<!-- Book list -->
<div class="book-list">
  {% for book in books %}
  <div class="card mb-3 mr-3 book-card">
    <div class="row no-gutters">
      <div class="col-md-3">
        <a href="{% url 'products:book_detail' book.id %}">
          <img src="{% if book.cover_image %}{{ book.cover_image.url }}{% else %}{% static 'img/default_book_cover.jpg' %}{% endif %}" class="card-img" alt="...">
        </a>
      </div>
      <div class="col-md-9">
        <div class="card-body">
          <h5 class="card-title">{{ book.title }}</h5>
          <p class="card-text">{{ book.author }}</p>
          <p class="card-text">{{ book.small_description }}</p>
          <p class="card-text">Price: {{ book.price }} EUR</p>
          <div class="d-flex justify-content-between">
            <p class="card-text mb-0">Rating: {{ book.rating }}</p>
            <div class="d-grid gap-2 d-flex justify-content-center">
              <a href="{% url 'products:book_detail' book.id %}"><i class="fa-solid fa-circle-info"></i></a>
              <a href="#"><i class="fa-solid fa-heart"></i></a>
              <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>       
            </div>
          </div>          
        </div>
      </div>
    </div>
  </div>  
  {% endfor %}
</div>
<!-- Pagination -->
{% if books.paginator.num_pages > 1 %}
<div class="d-flex justify-content-center">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      {% if books.has_previous %}
        <li class="page-item">
          <a class="page-link" href="?page={{ books.previous_page_number }}&sort={{ sort }}&search={{ search }}&category={{ category }}">Previous</a>
        </li>
      {% endif %}
      {% for page in books.paginator.page_range %}
        <li class="page-item {% if books.number == page %}active{% endif %}">
          <a class="page-link" href="?page={{ page }}&sort={{ sort }}&search={{ search }}&category={{ category }}">{{ page }}</a>
        </li>
      {% endfor %}
      {% if books.has_next %}
        <li class="page-item">
          <a class="page-link" href="?page={{ books.next_page_number }}&sort={{ sort }}&search={{ search }}&category={{ category }}">Next</a>
        </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}
{% endblock %}
