/* Path: static/css/base.css */


html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: #333;
}

.home-background {
    background-color: #fdfdfd;
}


h1 {
    font-size: 2rem;
    font-weight: 300;
    line-height: 1.2;
    margin-bottom: 1rem;
}

.text-right {
    text-align: right;
}

a {
    color: #333;
    text-decoration: none;
}

a:hover,
a:active,
a:focus,
a:visited {
    color: #333;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1rem;
}

/* arrow to top */
.scroll-top-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 9999;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: #555;
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.scroll-top-btn:hover {
    background-color: #777;
}

/* ------------------------------- bootstrap toasts */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}


/* search bar */

.book-ajax-list {
    padding: 0;
    list-style-type: none;
    position: absolute;
    top: 70px;
    background-color: white;
    z-index: 999;
}

.book-ajax-list-details {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px dashed rgb(196, 196, 196);
}

.book-cover-image {
    width: 50px;
    height: 75px;
    margin-right: 10px;
}

.book-title {
    margin: 0;
    font-size: 16px;
}

/* Main Nav Styles */


.navbar {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}


.nav-item {
    padding: 0 1rem;
}

.nav-link {
    font-size: 18px;
    font-weight: bold;
    color: #333;
    text-decoration: none;
}

.nav-link:hover {
    color: #333;
    text-decoration: none;
}

.dropdown {
    width: auto;
}

.dropdown-menu {
    background-color: #fff;
    min-width: 8rem;
    border-radius: 0;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.dropdown-item {
    font-size: 16px;
    font-weight: normal;
    color: #333;
    text-decoration: none;
    padding: 1rem;
    display: block;
}

.dropdown-item:hover {
    background-color: #f2f2f2;
    color: #333;
}

/* Messages */

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

/* Subcategory */

.subcategories-list {
    display: flex;
    justify-content: center;
    overflow-x: auto;
    margin: 0;
    padding: 0;
    list-style: none;
    max-width: 100%;
}

.subcategories-list li {
    margin: 0 1rem;
}

.subcategories-list li:first-child {
    margin-left: 0;
}

.subcategories-list li:last-child {
    margin-right: 0;
}

.subcategories-list li a {
    font-size: 0.7rem;
    display: inline-block;
    color: #333;
    text-align: center;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: #f2f2f2;
    transition: all 0.2s ease-in-out;
}

.subcategories-list li a:hover {
    background-color: #ddd;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}





/* Style for the book cards */

.card {
    height: auto;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    border-radius: 8px;
}

.card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-body {
    padding: 1.5rem;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}

.card-text {
    margin-bottom: 0.5rem;
    font-size: 1rem;
}

.book-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.book-info p {
    margin: 0;
}

.book-rating {
    display: flex;
    align-items: center;
}

.book-rating svg {
    margin-right: 0.5rem;
}

.mb-3 {
    margin-bottom: 1.5rem !important;
}

.mr-3 {
    margin-right: 1.5rem !important;
}

.d-flex {
    display: flex !important;
}

.justify-content-end {
    justify-content: flex-end !important;
}

.flex-wrap {
    flex-wrap: wrap !important;
}

.card-title,
.card-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}



/* Style for the sort buttons */

.book-sorting-buttons {
    display: flex;
    flex-wrap: wrap;
    justify-content: end;
    margin-bottom: 1rem;
}

.btn-outline-secondary {
    color: #6c757d;
    background-color: transparent;
    background-image: none;
    border-color: #6c757d;
}

.btn-outline-secondary:hover {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-outline-secondary.active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}

/* Book cover image */
.book-cover-img {
    height: 500px;
    object-fit: contain;
}

/* Book details container */
.book-details {
    padding: 1rem;
    border-radius: 0.25rem;
}

/* Book details list */
.book-details-list {
    margin-top: 1rem;
}

/* Book details label */
.book-details-label {
    font-weight: bold;
}

/* Book details value */
.book-details-value {
    margin-bottom: 0.5rem;
}

/* Add to cart form */

.cart-image {
    width: 30%;
    object-fit: contain;
}

.qty_input {
    width: 4rem;
    margin-right: 0.5rem;
}

.btn-secondary {
    background-color: #6c757d;
    border-color: #6c757d;
}

.btn-secondary:hover {
    background-color: #5a6268;
    border-color: #545b62;
}



/* Style for the pagination */


.pagination a.page-link {
    color: grey;
}

.pagination .active a.page-link {
    background-color: grey;
    color: white;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
}


/* Style for the accordion in faq */

.accordion-button:focus {
    box-shadow: none;

}

.accordion-button:not(.collapsed) {
    color: #333;
    background-color: #f2f2f2;
}

/* Style for the cart */

.btt-link,
.update-link,
.remove-link {
    cursor: pointer;
}

input[name='q']::placeholder {
    color: #aab7c4;
}

/* Allauth form formatting */

.allauth-form-inner-content p {
    margin-top: 1.5rem;
    /* mt-4 */
    color: #6c757d;
    /* text-secondary */
}

.allauth-form-inner-content input {
    border-color: #000;
    border-radius: 0;
}

.allauth-form-inner-content label:not([for='id_remember']) {
    display: none;
}

.allauth-form-inner-content input::placeholder {
    color: #aab7c4;
}

.allauth-form-inner-content button,
.allauth-form-inner-content input[type='submit'] {
    /* btn */
    display: inline-block;
    font-weight: 400;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #000;
    border: 1px solid #000;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0;

    /* standard bootstrap btn transitions */
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.allauth-form-inner-content button:hover,
.allauth-form-inner-content input[type='submit']:hover {
    color: #fff;
    background-color: #222;
    border-color: #222;
}

.allauth-form-inner-content a {
    color: #17a2b8;
    /* text-info */
}

/* footer */

footer {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f2f2f2;
    position: relative;
    left: 0;
    bottom: 0;
    width: 100%;
}

.social-media {
    display: flex;
    justify-content: start;
}

.social-media i {
    font-size: 24px;
    margin-left: 10px;
}

.quick-links {
    text-align: left;
    padding: 10px;
    line-height: 1.5;
}

.ecabanas {
    text-align: right;
}

.footer-text {
    margin-top: 20px;
}

/* form */

form {
    display: flex;
    flex-direction: column;
    margin: auto;
}

label {
    font-weight: bold;
    margin-bottom: 5px;
}

input[type="text"],
input[type="number"],
textarea,
select {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    font-size: 16px;
}

input[type="file"] {
    margin-top: 10px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
}

.asteriskField {
    color: red;
}

button[type="submit"] {
    padding: 10px 15px;
    border-radius: 5px;
    border: none;
    font-size: 16px;
    cursor: pointer;
}

#div_id_isbn,
#div_id_title,
#div_id_small_description,
#div_id_description,
#div_id_category,
#div_id_subcategory,
#div_id_publisher,
#div_id_author,
#div_id_price,
#div_id_stock,
#div_id_rating,
#div_id_cover_image,
#div_id_publication_date,
#div_id_pages,
#div_id_language {
    margin-bottom: 20px;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: white;
    z-index: -1;
}

#mc_embed_signup {
    background: rgba(var(--bs-light-rgb), var(--bs-bg-opacity));
    clear: left;
    font: 14px Helvetica, Arial, sans-serif;
    width: auto;
    max-width: 400px;
    margin-right: auto;
}



/* For mobile and tablet devices */
@media (max-width: 992px) {


    .navbar-nav .nav-link {
        padding: 0.5rem;
    }

    .nav-link {
        padding: 0.15rem;
    }

    .nav-link i.fa-lg {
        font-size: 1rem;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .dropdown-item {
        padding: 0.5rem 1rem;
    }

    .book-list-icons {
        font-size: 0.7rem;
        align-items: center;
    }

    .navbar-toggler {
        padding: .6rem .6rem;
        font-size: 1rem;
    }

    .btn.btn-outline-dark.rounded-0,
    .btn.btn-dark.rounded-0 {
        padding: .375rem .375rem;
    }

    .btn.btn-outline-dark.rounded-0.btn-lg,
    .btn.btn-dark.rounded-0.btn-lg {
        padding: .375rem .375rem;
        font-size: .75rem;
    }

    .increment-qty,
    .decrement-qty {
        padding: .25rem .5rem !important;
    }

    .social-media {
        text-align: center;
    }
}


/* For desktop devices */
@media (min-width: 992px) {
    .card-img {
        height: 200px;
        object-fit: cover;
        width: 100%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }
}