{% load static %}
<footer class="container-fluid bg-light py-3">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h5 class="text-uppercase font-weight-bold">Ecabanas Bookstore</h5>
        <p class="text-muted">An online platform for books of fiction and non-fiction categories.</p>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase font-weight-bold">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a href="{% url 'home' %}">Home</a></li>
          <li><a href="{% url 'products:book_list' %}">Books</a></li>
          <li><a href="{% url 'about_us' %}">About Us</a></li>
          <li><a href="{% url 'faq' %}">FAQs</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase font-weight-bold">Follow Us</h5>
        <ul class="list-inline">
          <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-instagram"></i></a></li>
          <li class="list-inline-item"><a href="#"><i class="fab fa-pinterest-p"></i></a></li>
        </ul>
      </div>
      <div class="col-md-3">
        <h5 class="text-uppercase font-weight-bold">Contact Us</h5>
        <p>
          Address: 123 Main Street<br>
          City, State 12345<br>
          Phone: (123) 456-7890<br>
          Email: info@ecabanasbookstore.com
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <p class="text-muted">&copy; Ecabanas Bookstore. All rights reserved.</p>
      </div>
    </div>
  </div>
</footer>
