<div class="collapse navbar-collapse border-top border-bottom" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item d-block d-lg-none">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'home' %}" id="home-link">
                <i class="fas fa-home"></i> Home
            </a>
        </li>
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mr-3" href="{% url 'products:book_list' %}" id="books-link"
                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-book"></i> Books
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="books-link">
                <a href="{% url 'products:book_list' %}" class="dropdown-item">All ({{ all_books_count }})</a>
                {% for category, count in category_counts.items %}
                <a href="{% url 'products:book_list' %}?category={{ category|slugify }}" class="dropdown-item">{{ category|title }} ({{ count }})</a>
                {% endfor %}
            </div>
        </li>
        <!-- About Us -->
        <li class="nav-item mr-3">
            <a class="nav-link" href="{% url 'about_us' %}"><i class="fas fa-info-circle"></i> About</a>
        </li>

        <!-- FAQs -->
        <li class="nav-item mr-3">
            <a class="nav-link" href="{% url 'faq' %}"><i class="fas fa-question-circle"></i> FAQs</a>
        </li>

        <!-- Contact Us -->
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact:contact' %}"><i class="fas fa-envelope"></i> Contact Us</a>
        </li>
    </ul>
</div>
