{% extends 'base.html' %} 
{% load static %}

{% load i18n %}
{% load account socialaccount %}

{% block extra_title %}| log in{% endblock %}

{% block content %}
<div class="container my-5 px-5">
  <div class="row">
    <div class="col-md-12">
      <h2 class="logo-font mb-4">{% trans "Log In" %}</h2>
      <hr class="my-4">
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-md-4 text-left">
    {% get_providers as socialaccount_providers %}

    {% if socialaccount_providers %}
    <p>{% blocktrans with site.name as site_name %}Please sign in with one
    of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
    for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

    <div class="socialaccount_ballot">

      <ul class="socialaccount_providers">
        {% include "socialaccount/snippets/provider_list.html" with process="login" %}
      </ul>

      <div class="login-or">{% trans 'or' %}</div>

    </div>

    {% include "socialaccount/snippets/login_extra.html" %}

    {% else %}
    <p>{% blocktrans %}Need an account?
    <a href="{{ signup_url }}">Sign up</a> first.{% endblocktrans %}</p>
    {% endif %}

    <form class="login" method="POST" action="{% url 'account_login' %}">
      {% csrf_token %}
      {{ form|crispy }}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}
      <div class="text-center">
        <button class="btn-outline-primary btn-sm" type="submit">{% trans "Sign In" %}</button>
        <p class="mt-2">
          <a class="btn btn-outline-secondary btn-sm" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        </p>
      </div>
    </form>
    </div>
  </div>
</div>

{% endblock %}
