{% extends 'base.html' %} 
{% load static %} 

{% load book_list_layout %} <!-- Load the custom template filters -->

{% block extra_title %}| products{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}  

{% block content %}
<div class="container-fluid my-5 px-5 h-auto">
  <div class="row">
    <div class="col-md-12">
      <!-- Show different h1 text depends of results -->
      <h1 class="text-left">
        {% if search_term %}
            {% if books.paginator.count == 0 %}
                No books found for "{{ search_term }}"
            {% else %}
                Search results for "{{ search_term }}" ({{ books.paginator.count }})
            {% endif %}
        {% else %}
            {% if books.paginator.count > 0 %}
                {% if current_category_name %}
                    Books : {{ current_category_name|title }}{% if current_subcategory_name %} - {{ current_subcategory_name|title }}{% endif %} ({{ current_category_count }})
                {% else %}
                    Books{% if current_subcategory_name %} : {{ current_subcategory_name|title }}{% endif %} ({{ books.paginator.count }})
                {% endif %}
            {% else %}
                No books found
            {% endif %}
        {% endif %}
    </h1>
      <div class="d-grid gap-2 d-flex justify-content-start">
        {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'products:book_create' %}" class="btn btn-outline-secondary btn-sm"><i class="fa-solid fa-plus"></i> Add book</a>
        {% endif %}
      </div>
    </div>
    </div>
    <div class="row">
      <div class="col">
        <hr class="my-4">
        <div class="subcategories">
          <ul class="subcategories-list d-none d-md-flex">
            <li><a href="{% url 'products:book_list' %}">All</a></li>
            {% for subcategory in subcategories %}
            <li><a href="{% url 'products:book_list' %}?subcategory={{ subcategory.id }}">{{ subcategory.name|title }}</a></li>
            {% endfor %}
          </ul>
        </div>
        <!-- Subcategories Dropdown -->
        <div class="d-md-none">
          <select class="form-select" id="subcategoryDropdown" name="subcategory">
              <option value="#">Select subcategory...</option>
              <option value="{% url 'products:book_list' %}">All</option>
              {% for subcategory in subcategories %}
                  <option value="?subcategory={{ subcategory.id }}">{{ subcategory.name|title }}</option>
              {% endfor %}
          </select>
        </div>
      </div>
    </div>    
    <hr>
    <div class="row mb-2 me-2 d-flex justify-content-end">
      {% if books.paginator.count > 1 %}
      <!-- Sort dropdown menu -->
      <div class="dropdown">
        <button class="btn btn-outline-secondary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Sort by 
          {% if sort == 'title' %}
            Title 
            {% if direction == 'asc' %}
              &nbsp;<i class="fas fa-sort-alpha-up"></i>
            {% else %}
              &nbsp;<i class="fas fa-sort-alpha-down"></i>
            {% endif %}
          {% elif sort == 'price' %}
            Price 
            {% if direction == 'asc' %}
              &nbsp;<i class="fas fa-sort-amount-up"></i>
            {% else %}
              &nbsp;<i class="fas fa-sort-amount-down"></i>
            {% endif %}
          {% elif sort == 'rating' %}
            Rating 
            {% if direction == 'asc' %}
              &nbsp;<i class="fas fa-sort-numeric-up"></i>
            {% else %}
              &nbsp;<i class="fas fa-sort-numeric-down"></i>
            {% endif %}
          {% else %}
            &nbsp;
          {% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a
          href="{% url 'products:book_list' %}?sort=title&direction={% if sort == 'title' and direction == 'desc' %}asc{% else %}desc{% endif %}&search={{ search }}&category={{ category }}"
          class="dropdown-item {% if sort == 'title' %}active{% endif %}"
          >title {% if sort == 'title' %}
            {% if direction == 'asc' %}
              <i class="fas fa-sort-alpha-up"></i>
            {% else %}
              <i class="fas fa-sort-alpha-down"></i>
            {% endif %}
          {% endif %}
          </a>
          <a
          href="{% url 'products:book_list' %}?sort=price&direction={% if sort == 'price' and direction == 'desc' %}asc{% else %}desc{% endif %}&search={{ search }}&category={{ category }}"
          class="dropdown-item {% if sort == 'price' %}active{% endif %}"
          >price {% if sort == 'price' %}
            {% if direction == 'asc' %}
              <i class="fas fa-sort-amount-up"></i>
            {% else %}
              <i class="fas fa-sort-amount-down"></i>
            {% endif %}
          {% endif %}
          </a>
          <a
          href="{% url 'products:book_list' %}?sort=rating&direction={% if sort == 'rating' and direction == 'desc' %}asc{% else %}desc{% endif %}&search={{ search }}&category={{ category }}"
          class="dropdown-item {% if sort == 'rating' %}active{% endif %}"
          >rating {% if sort == 'rating' %}
            {% if direction == 'asc' %}
              <i class="fas fa-sort-numeric-up"></i>
            {% else %}
              <i class="fas fa-sort-numeric-down"></i>
            {% endif %}
          {% endif %}
          </a>
        </div>
      </div>
      {% endif %}
    </div>
    <!-- Show books -->
    {% with total_books=books|length %}
    <div class="container-fluid">
      <!-- Show books in rows -->
      {% for book in books %}
      {% if forloop.first %}
      <div class="row mt-3 d-flex justify-content-center">
        {% endif %}
        <!-- Show books in columns -->
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-{{ total_books|col_lg_value }} col-xl-{{ total_books|col_value }} col-xxl-{{ total_books|col_value }}">
          <div class="card mb-3">
            <div class="row no-gutters">
              <div class="col-md-3">
                <a href="{% url 'products:book_detail' book.id %}">
                  <img
                    src="{% if book.cover_image %}{{ book.cover_image.url }}{% else %}{% static 'img/default_book_cover.jpg' %}{% endif %}"
                    class="card-img" alt="...">
                </a>
              </div>
              <!-- Show book details -->
              <div class="col-md-9">
                <div class="card-body">
                  <h5 class="card-title">{{ book.title }} {% if book.stock == 0 %} <span class="text-danger"><small>(No
                        stock)</small></span>{% endif %}</h5>
                  <p class="card-text">{{ book.author }}</p>
                  <p class="card-text d-none d-md-flex">{{ book.small_description }}</p>
                  <p class="card-text">Price: {{ book.price }} EUR</p>
                  <div class="d-flex justify-content-between">
                    <p class="card-text mb-0">Rating: {{ book.rating }}</p>
                    <div class="d-grid gap-2 d-flex justify-content-center book-list-icons">
                      <a class="text-info" href="{% url 'products:book_detail' book.id %}" aria-label="Book details"><i class="fa-solid fa-circle-info fa-lg"></i></a>
                      {% if book.id in favorite_books %}
                      <a class="text-danger" href="{% url 'products:remove_from_favorites' book.id %}" aria-label="Remove from favorites"><i class="fa-solid fa-heart fa-lg"></i></a>
                      {% else %}
                      <a href="{% url 'products:add_to_favorites' book.id %}" aria-label="Add to favorites"><i class="fa-regular fa-heart fa-lg"></i></a>
                      {% endif %}
                      {% if book.stock > 0 %}
                      <a class="text-success" href="{% url 'cart:cart_add' book.id %}" aria-label="Add to cart"><i class="fa-solid fa-cart-shopping fa-lg"></i></a>
                      {% endif %}
                      {% if user.is_authenticated and user.is_staff %}
                      | <a class="text-warning" href="{% url 'products:book_update' book.id %}" aria-label="Edit book"><i class="fa-solid fa-edit fa-lg"></i></a>
                      <a class="text-danger" href="{% url 'products:book_delete' book.id %}" aria-label="Delete book"><i class="fa-solid fa-trash-alt fa-lg"></i></a>
                      {% endif %}
                  </div>                                
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    
        {% if forloop.counter|divisibleby:total_books|items_per_row and not forloop.last %}
      </div> <!-- Close row -->
      <div class="row mt-3 d-flex justify-content-center">
        <!-- Open new row -->
        {% endif %}
    
        {% if forloop.last %}
      </div> <!-- Close row -->
      {% endif %}
      {% endfor %}
    </div>
    {% endwith %}
  

    <div class="row">
    <!-- Pagination -->
    {% if books.paginator.num_pages > 1 %}
    <div class="d-flex justify-content-center">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          {% if books.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?page={{ books.previous_page_number }}&sort={{ sort }}&search={{ search }}&category={{ category }}">Previous</a>
            </li>
          {% endif %}
          {% for page in books.paginator.page_range %}
            <li class="page-item {% if books.number == page %}active{% endif %}">
              <a class="page-link" href="?page={{ page }}&sort={{ sort }}&search={{ search }}&category={{ category }}">{{ page }}</a>
            </li>
          {% endfor %}
          {% if books.has_next %}
            <li class="page-item">
              <a class="page-link" href="?page={{ books.next_page_number }}&sort={{ sort }}&search={{ search }}&category={{ category }}">Next</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </div>
    {% endif %}
  </div>
</div>
{% endblock %}
