{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Use the container class to center the content on the page -->
<div class="container mt-5 my-5">
  <!-- Add back button to go back to previous page -->
  <button onclick="window.history.back();" class="btn btn-outline-secondary btn-sm mb-3"><i class="fa-solid fa-chevron-left"></i> Go Back</button>
  <!-- Use the row class to create a row of columns -->
  <div class="row align-items-center">
    <!-- Use the col-md-5 class to create a 5 column wide column for the book cover image -->
    <div class="col-12 col-md-5">
      <!-- Use the text-center class to center the image vertically and horizontally -->
      <div class="text-center">
        <!-- Display the book cover image -->
        <img src="{{ book.cover_image.url }}" class="img-fluid" alt="Book Cover" />
      </div>
    </div>
    <!-- Use the col-md-7 class to create a 7 column wide column for the book details -->
    <div class="col-12 col-md-7 book-details">
      <!-- Use the h1 tag to display the book title -->
      <h1>{{ book.title }}</h1>
      <!-- If user is authenticated and is staff, display the edit and delete buttons -->
      
      <div class="d-grid gap-2 d-flex justify-content-end">
        {% if book.id in favorite_books %}
        <a class="text-danger" href="{% url 'products:remove_from_favorites' book.id %}"><i class="fa-solid fa-heart"></i></a>
        {% else %}
        <a href="{% url 'products:add_to_favorites' book.id %}"><i class="fa-regular fa-heart"></i></a>
        {% endif %}
        {% if user.is_authenticated and user.is_staff %}
        | 
        <a class="text-warning" href="{% url 'products:book_update' book.id %}"><i class="fa-solid fa-edit"></i></a>
        <a class="text-danger" href="{% url 'products:book_delete' book.id %}"><i class="fa-solid fa-trash-alt"></i></a>
        {% endif %}
      </div>
      <!-- Use the h5 tag to display the book ISBN number -->
      <h5>ISBN: {{ book.isbn }}</h5>
      <!-- Use the p tag to display the book description -->
      <p>{{ book.description|safe }}</p>
      <hr />
      <!-- Use the dl tag to create a definition list for the book details -->
      <dl class="row book-details-list">
        <dt class="col-6 col-md-3 book-details-label">Category</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.category|title }}</dd>
        <dt class="col-6 col-md-3 book-details-label">Subcategory</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.subcategory|title }}</dd>
        <dt class="col-6 col-md-3 book-details-label">Author</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.author }}</dd>
        <dt class="col-6 col-md-3 book-details-label">Publisher</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.publisher }}</dd>
        <dt class="col-6 col-md-3 book-details-label">Publication Date</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.publication_date }}</dd>
        <dt class="col-6 col-md-3 book-details-label">Pages</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.pages }}</dd>
        <dt class="col-6 col-md-3 book-details-label">Language</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.language }}</dd>
        <dt class="col-6 col-md-3 book-details-label">Price</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.price }} EUR</dd>
        <dt class="col-6 col-md-3 book-details-label">Stock</dt>
        <dd class="col-6 col-md-9 book-details-value">
          {% if book.stock == 0 %}
          Not stock available
          {% else %}
          {{ book.stock }} units
          {% endif %}
        </dd>
        <dt class="col-6 col-md-3 book-details-label">Rating</dt>
        <dd class="col-6 col-md-9 book-details-value">{{ book.rating }} stars</dd>
      </dl>
      <hr />
      <!-- Use the form tag to create a form for adding the book to the cart -->
      <form action="{% url 'cart:cart_add' item_id=book.id %}" method="POST">
        {% csrf_token %}
        {% if book.stock > 0 %}
        <div class="form-group mb-2 text-left">
          <label for="quantity">Quantity:</label>
          <input class="qty_input" type="number" name="quantity" value="1" min="1" max="{{ book.stock }}" required>
          <button type="submit" class="btn btn-secondary">Add to Cart</button>
        </div>
        {% endif %}
      </form>
    </div>
  </div>
</div>
{% endblock %}
<!-- Path: products\templates\products\includes\quantity_input_script.html -->
{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}