{% extends 'base.html' %}

{% load static %}

{% block extra_title %}| About{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-left">About</h1>
            <hr class="my-4">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <img src="{% static 'img/about_us.jpg' %}" alt="Bookstore" class="img-fluid rounded shadow-lg">
        </div>
        <div class="col-12 col-md-6">
            <h2 class="mt-4 mt-md-0">Welcome to Ecabanas Bookstore!</h2>
            <p class="text-justify my-4">Welcome to Ecabanas Bookstore, where I am passionate about books and the joy of reading. My
                online platform has a vast selection of both fiction and non-fiction books. I am dedicated to making it easier for
                you to access the books you love, and my mission is to share the belief that books can change lives.</p>
            <p class="text-justify my-4">Books are more than entertainment; they open doors to new worlds, cultures, and
                perspectives. Whether you're looking for a page-turner or a thought-provoking non-fiction work, I have something for
                everyone.</p>
            <p class="text-justify my-4">This bookstore is dedicated to my mother, who passed away two years ago. She was an avid
                reader and inspired my love for books. All the Spanish books in our library are the ones she read, and I hope to
                share the passion for literature that she instilled in me with all of our customers.</p>
            <p class="text-justify my-4">At Ecabanas Bookstore, I aim to provide a seamless and enjoyable reading experience. So,
                come and discover your next favorite book!</p>
        </div>
    </div>
</div>
{% endblock %}
