{% extends "base.html" %}
{% load static %}

{% block content %}
    <h1 class="text-center my-5">About Us</h1>
    <div class="container my-5">
        <div class="row">
            <div class="col-12 col-md-6">
                <img src="https://picsum.photos/id/24/500/400" alt="Bookstore" class="img-fluid">
            </div>
            <div class="col-12 col-md-6">
                <h3 class="my-3">Welcome to ecabanas bookstore!</h3>
                <p>ecabanas bookstore is an online platform for books of fiction and non-fiction categories. We are proud to offer a wide range of books to cater to all your reading needs. Our goal is to provide you with a seamless and enjoyable reading experience, and to help you find your next favourite book.</p>
                <p>The idea for ecabanas bookstore was born out of a passion for books and a desire to make it easier for people to find the books they love. Our founder, Enrique, is a student of Code Institute and this project is his final project. Enrique has a deep love for books and has always been an avid reader. He believes that books have the power to change lives, and he wants to make sure that everyone has access to the books they need to grow and learn.</p>
                <p>At ecabanas bookstore, we believe that books are more than just a source of entertainment. They are a window into different worlds, different cultures, and different perspectives. Whether you are looking for a page-turner to keep you entertained, or a thought-provoking work of non-fiction, we have something for everyone. So why wait? Start browsing our selection of books today and find your next favourite read!</p>
            </div>
        </div>
    </div>
{% endblock %}
