{% extends 'base.html' %}

{% load static %}

{% block extra_title %}| about{% endblock %}

{% block content %}
<div class="container my-5">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-left">About</h1>
            <hr class="my-4">
        </div>
    </div>
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <img src="{% static 'img/about_us.jpg' %}" alt="Bookstore" class="img-fluid rounded shadow-lg">
        </div>
        <div class="col-12 col-md-6">
            <h2 class="mt-4 mt-md-0">Welcome to Ecabanas Bookstore!</h2>
            <p class="text-justify my-4">Welcome to Ecabanas Bookstore, an online platform that offers a minimal selection (for the moment!) of both fiction and non-fiction books. Inspired by my mother, an avid reader who instilled in me a love for books, my mission is to make it easier for you to access the books you love. Please note that all books, authors, book covers, and publishers featured on this website are fictional and were created for the sake of this project only.</p> 
            <p class="text-justify my-4">I also want to take a moment to dedicate this project to my mother. She was a great reader and I know she would have loved this bookstore. Her love for books inspired me to create this platform and I hope she would be proud of me for bringing it to life. As I continue to learn and grow in the field of web development, I will continue to improve this project in her memory."</p>
        </div>
    </div>
</div>
{% endblock %}