<div class="toast custom-toast rounded-0 border-top-0" data-bs-autohide="false">
    {% if 'deleted' in message.tags %}
    <div class="w-100 toast-capper bg-danger"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="me-auto">Deleted!</strong>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    {% elif 'removed_from_favorites' in message.tags %}
    <div class="arrow-up arrow-warning"></div>
    <div class="w-100 toast-capper bg-warning"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="me-auto">Removed from favourites!</strong>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    {% else %}
    <div class="arrow-up arrow-info"></div>
    <div class="w-100 toast-capper bg-info"></div>
    <div class="toast-header bg-white text-dark">
        <strong class="me-auto">Error!</strong>
        <button type="button" class="btn-close text-dark" data-bs-dismiss="toast" aria-label="Close"></button>
    </div>
    {% endif %}
    <div class="toast-body bg-white">
        {{ message }}
    </div>
</div>
